<a class='gallery__item' href='{{largeImageURL}}'>
  <img
    class='gallery__image'
    src='{{webformatURL}}'
    alt='{{tags}}'
    loading='lazy'
  />
  <ul class='info'>
    <li class='info-item'>
      <p><b>Likes</b><br />{{likes}}</p>
    </li>
    <li class='info-item'>
      <p><b>Views</b><br />{{views}}</p>
    </li>
    <li class='info-item'>
      <p><b>Comments</b><br />{{comments}}</p>
    </li>
    <li class='info-item'>
      <p><b>Downloads</b><br />{{downloads}}</p>
    </li>
  </ul>
</a>